body {
  margin: 0;
  font-family: 'Nunito sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Tried creating a local font setup for "Nunito sans" font,
// but was not able to replicate the exact installed Nunito sans font
// @font-face {
//   font-family: "Nunito sans";
//   src: local("Nunito sans"), url("./fonts/Nunito-sans/NunitoSans-Regular.ttf") format(truetype);
// }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}